<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>WITAM TO JA Categories</h1>
        <div class="add-category">
            <form action="/categories/add" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
        
                <label for="description">Description</label>
                <input type="text" name="description" id="description" required>
        
                <button type="submit">Add Category</button>
            </form>
        </div>
        
        <div class="cards-container">
            <% if (items.length > 0) { %>
              <% items.forEach(item => { %>
                <div class="card">
                  <h3><%= item.name %></h3>
                  <p><%= item.description %></p>
                  <div class="buttons">
                      <form action="/categories/:id" method="GET">
                        <input type="hidden" name="itemId" value="<%= item.id %>">
                        <button type="submit">View All Songs</button>
                      </form>
                      <form action="/categories/delete/:id" method="POST">
                        <input type="hidden" name="itemId" value="<%= item.id %>">
                        <button type="submit" class="delete-btn">
                            Delete
                        </button>
                      </form>
                    </div>
                  </div>
              <% }) %>
            <% } %>
          </div>          
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>